<MContainer Fluid Style="height:50px">
	<MRow Justify="JustifyTypes.Center">
		<MMenu Bottom MinWidth="200" Rounded="@true">
			<ActivatorContent>
				<MButton Icon XLarge @attributes="@context.Attrs">
					<MAvatar Color="brown" Size="48">
						<span class="white--text text-h5">Hi</span>
					</MAvatar>
				</MButton>
			</ActivatorContent>
			<ChildContent>
				<MCard>
					<MListItemContent Class="justify-center">
						<div class="mx-auto text-center">
							<MAvatar Color="brown">
								<span class="white--text text-h5">Hi</span>
							</MAvatar>
							<h3>Hello</h3>
							<MDivider class="my-3"></MDivider>
							<MButton Depressed Rounded Text>账号管理</MButton>
							<MDivider class="my-3"></MDivider>
							<MButton Depressed Rounded Text>登录</MButton>
							<MDivider class="my-3"></MDivider>
							<MButton Depressed Rounded Text>登出</MButton>
						</div>
					</MListItemContent>
				</MCard>
			</ChildContent>
		</MMenu>
	</MRow>
</MContainer>

@code {
    
}
