@page "/order/create"
@using System.Diagnostics.CodeAnalysis;
@inject NavigationManager NavigationManager
@inject IOrderService orderService;
<PageTitle>订单创建</PageTitle>
<h3>订单创建</h3>
<EditForm Model="order" OnValidSubmit="HandleCreateOrder">
    <div class="mb-3">
        <label for="Sender">发件人</label>
        <input id="Sender" @bind-value="order.Sender" class="form-control"/>
    </div>
    <div class="mb-3">
        <label for="SenderCity">发件人地址</label>
        <input id="SenderCity" @bind-value="order.SenderCity" class="form-control" />
    </div>
        <div class="mb-3">
        <label for="SenderPhone">发件人电话</label>
        <input id="SenderPhone" @bind-value="order.SenderPhone" class="form-control" />
    </div>
    <div class="mb-3">
        <label for="Recipient">收件人</label>
        <input id="Recipient" @bind-value="order.Recipient" class="form-control"/>
    </div>
    <div class="mb-3">
        <label for="RecipientCity">收件人地址</label>
        <input id="RecipientCity" @bind-value="order.RecipientCity" class="form-control"/>
    </div>
        <div class="mb-3">
        <label for="RecipientPhone">收件人电话</label>
        <input id="RecipientPhone" @bind-value="order.RecipientPhone" class="form-control"/>
    </div>
    <div class="mb-3">
        <label for="OrderInfo">订单详情</label>
        <input id="OrderInfo" @bind-value="order.OrderInfo" class="form-control"/>
    </div>
    <Buttons>
         <Button ButtonType="ButtonType.Submit" Icon="fa-solid fa-floppy-disk" Text='提交' />
    </Buttons>
</EditForm>
@code {
    private Order order = new Order();

    [Inject]
    [NotNull]
    private ToastService? ToastService { get; set; }

    async void HandleCreateOrder() {
        TimeSpan ts = DateTime.UtcNow - new DateTime(1970, 1, 1, 0, 0, 0, 0);
        var time = (Convert.ToInt64(ts.TotalSeconds).ToString());
        order.OrderId = "LS" + time;
        var result = await orderService.AddAsync(order);
        if(result != null) {
            await ToastService.Success("添加成功！","订单添加完成",true);
        }
        else {
            await ToastService.Error("添加失败！","添加订单失败",true);
        }
        NavigationManager.NavigateTo("order/");
    }
}
